@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #060606;
  color: white;
  overflow-x: hidden;
  cursor: default;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #facc15;
  border-radius: 999px;
}

::-webkit-scrollbar-track {
  background: #111;
}

::selection {
  background: #facc15;
  color: #050505;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-stopped {
  overflow: hidden;
}
